.img-logo{
        max-height:48px; /* keeps navbar height tidy */
        width:auto;       /* maintain aspect ratio */
        height: 30px;
        object-fit:contain;
}

/* Small screens: slightly smaller logo */
@media (max-width:576px){
    .img-logo{ max-height:36px; }
}

.text-light{
    background-color: #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal ;
}

/* Blur effect for navbar background */